[submodule "vendor/ruby-paypal-csv"]
	path = vendor/ruby-paypal-csv
	url = git@github.com:aredridel/ruby-paypal-csv.git
[submodule "vendor/markaby"]
	path = vendor/markaby
	url = git://github.com/markaby/markaby.git
[submodule "vendor/jquery-datalink"]
	path = vendor/jquery-datalink
	url = git://github.com/jquery/jquery-datalink.git
